<div>
  <p>Material Design</p>
  <div class="row align-items-center mb-5">
    <h1 class="m-0 col-sm-6 col-md-7 col-lg-8 col-xl-10">
      Simple Chat Application
    </h1>
    <button
      class="col-sm-6 col-md-5 col-lg-4 col-xl-2 rounded-5"
      mat-raised-button
      color="primary"
    >
      <mat-icon fontIcon="add" />
      ADD NEW PERSON
    </button>
  </div>
  <mat-divider class="border-bottom-2 mb-2" />
  <div class="row">
    <div class="col-8 chatGrid">
      <chatbox />
      <chatbox />
    </div>
    <div class="col-4"></div>
  </div>
</div>
